# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Liam Shatzel 
name: Liam Shatzel 
position: AR/VR Researcher 
email: lshatzel@uvic.ca
description: |
  I am a Masters student in the [VIXI Lab](https://vixi.cs.uvic.ca) at the University of Victoria. 
  Currently, I am working on embedded visualizations in mixed reality, supervised by Dr. Charles Perin. 
  I also work part time at [Motorola Solutions](https://www.motorolasolutions.com/en_us.html), where I do full-stack development for IoT devices.

  Previously, I completed my Honours Bachelors of Computer Science graduating with distinction. 
  During my undergrad I completed four co-op work terms and a full time research internship. 
  I was fortunate to gain experience in both startup and enterprise environments, working at [Tradable Bits](https://tradablebits.com/) and Motorola Solutions, while also pursuing research in crowd simulations supervised by Dr. Brandon Haworth in the [GAIDG lab](https://onlineacademiccommunity.uvic.ca/gaidglab/).

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://liamshatzel.com" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username:  
github_username: liamshatzel
google_scholar: xMNQDpcAAAAJ
google_analytics: G-1611TJL07L

# Build settings
plugins:
  - jekyll-feed
  - jekyll-tailwindcss

# Blog settings
permalink: /blog/:year/:month/:day/:title/
excerpt_separator: <!--more-->

defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      math: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
